// SCSS Variable's

$font-primary: 'Poppins', sans-serif;

$color-primary:#2500F9;
$color-primary--soft:#2563FF;
$color-primary--light:#817AFF;

$color-secondary:#242F51;

$color-success:#40975F;
$color-danger:#F55767;
$color-normal:#175CFF;

$color-gray--300:#333333;
$color-gray--500:#5A5A5A;
$color-gray--600-dark:#626262;
$color-gray--600:#686666;
$color-gray--600-light:#6A6C71;
$color-gray--700:#707276;
$color-gray--800:#808080;
$color-gray--900:#999CA5;
$color-gray--light:#BBBBBB;

$color-black:#000000;

$color-white:#ffffff;
$color-white--500:#F5F7FA;
$color-white--600:#F6FAFF;
$color-white--700:#F7F9FB;
$color-white--light:#FAFCFF;