/* Common Button's Style */
.primary-btn,
.secondary-btn{
	font-weight: 600;
}
.primary-btn{
	color: $color-white;
	background: $color-primary;
	font-size: toRem(16);
	padding: toRem(16.5) toRem(53);
	border-radius: 5px;
	@extend %transition;
	&:hover, 
	&:focus{
		color: $color-white;;
		background: $color-secondary;
	}
}

.secondary-btn{
	color: $color-primary;
	font-size: toRem(16);
	padding: toRem(2);
	@extend %transition;
	&:hover, 
	&:focus{
		color: $color-primary;;
		text-decoration: underline;
	}
}

.slick__arrows{
	position: absolute;
	bottom: 0;
	@include mobile-xxs{
		transform: translateY(150%);
	}
	@include min-mobile-xxs{
		transform: translateY(-50%);
	}
	z-index: 3;
	width: toRem(40);
	height: toRem(40);
	color: lighten($color-gray--500, $amount: 40);
	background-color: $color-white;
	font-size: toRem(12);
	text-align: center;
	cursor: pointer;
	@extend %transition;
	&--left{
		right: toRem(52);
	}
	&--right{
		right: 0;
	}
	&:hover,
	&:focus{
		color: $color-primary--light;
		background-color: lighten($color-gray--light, $amount: 18);
	}
}

.tag-btn{
	color: $color-white;
	font-size: toRem(14);
	padding: toRem(10) toRem(15);
	@extend %transition;
	&--pill{
		background-color: $color-gray--600-dark;
	}
	&--rounded{
		background-color: $color-normal;
		border-radius: toRem(5);
	}
	&:hover,
	&:focus{
		color: $color-white;
		background-color: $color-secondary;
	}
}

.scroll-top{
	bottom: 3%;
	right: 1%;
	display: none;
	cursor: pointer;
	z-index: 7;
	@include mobile{
		bottom: 2%;
	}
	&__btn{
		width: 2.8rem;
		height: 2.8rem;
		font-size: 1.1rem;
		color: $color-white;
		background: $color-primary--light;
		@extend %transition;
		&:hover, 
		&:focus{
			color: $color-white;
			background: $color-primary;
		}
	}
}